*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
    

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 8rem;
    font-weight: 900;
}
    

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

    
.list-item{
    list-style:none;
    margin: 0 1rem;
 }
    

.list-item:nth-child(1){
    font: size 1.3rem;
    font-weight: 900;
    text-decoration: underline;
}


.button-group{
     display: flex;
     align-items: center;
}

        
button{
    padding: 0.5rem 3rem;
    background-color: transparent;
    font-size:1.1rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
}
       
.nav-button{
    border: 2.5px solid #000000;
}



.hero-container{
    margin: 5rem 8rem 2rem 8rem;
    position: relative; 
    display: flex;
    gap: 5rem;
}



.hero {
    width: 350px;
}


.square {
    position: absolute;
    bottom: 0;
    left: 80px;
    top: 330px;
    margin-left: 140px;
    z-index: -1;
}
           


.hero-container-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 50px;
    justify-content: center;
}
    


.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
          


.contact-heading{
    font-weight: 600;
    font-size: larger;
    color: #000000;
    margin-top: 9rem;
    margin-bottom: 2rem;
    text-align: center;
}
                
                

.hero-heading{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 100px;
    margin: 4rem 2rem 2rem 4rem;
}
                
                
.hero-description{
    width: 90%;
    margin-left: 40px;
    text-align: center;
    margin-bottom: 5rem;
    color: #000000;
}
                
 
.button-email{
    border: 2.5px solid #000000;
}


                
.button-join{
    background-color: #000000;
    color: #ffffff;
}
                    
                    
.star{
    top: 40px;
    right: 5%;
}
                    
                    
.star2{
    bottom: 4%;
    left: 45%;
    height: 1px;
    
}
                    

.star,.star2,.globe {
    position: absolute;
}



.globe{
    top: 0.85em; left: 50%;
}


